@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.BeginScreen-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/beginscreenbg.png');
} 

.BeginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
}

.Beginscreen-text {
    width: 400px;
    text-align: center;
}

.BeginScreen-characters {
    display: flex;
    align-items: center;
    gap: 5px;
}

.BeginScreen-button {
    margin: 20px;
    background-color: white;
    border: 1px black solid;
    border-radius: 6px;
    height: 30px;
    width: 50px;
}

.BeginScreen-button:hover {
    background-color: lightgrey;
}

.PlayScreen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    font-size: 20px;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 5%;
    background-color: white;
    position: sticky;
    top: 0;
}

.characters {
    display: flex;
    gap: 5px;
}

.found {
    opacity: 30%;
}

main {
    height: 90%;
    width: 100%;
}

img {
    width: 100vw;
}

.selector {
    position: fixed;
    opacity: 0;
    background-color: white;
}

.selectorcell {
    border: 1px black solid;
    padding: 5px;
    border-radius: 3px;
}

.selectorcell:hover {
    background-color: black;
    color: white;
}

.character {
    width: 50px;
    height: 50px;
}

.EndScreen {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/beginscreenbg.png');
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    height: 90vh;
    width: 40vw;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboardData {
    height: 90vh;
    overflow: auto;
    width: 40vw;
    text-align: center;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    height: 45vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
}

.EndScreenBtn {
    height: 75px;
    width: 150px;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 10px;
    background-color: white;
}

.EndScreenBtn:hover {
    background-color: lightgrey;
}

.EndScreenBtn-container {
    width: 40vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Endscreen-button {
    margin: 20px;
    background-color: white;
    border: 1px black solid;
    border-radius: 6px;
    height: 30px;
    width: 100px;
}

.Endscreen-button:hover {
    background-color: lightgrey;
}

.popup {
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
}